*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    width:100%;
    height: 9%;
    background-color: #0a0b0c;
}

html{
    font-family: 'DM Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Quicksand', sans-serif;
}

.navbar{
    color:white;
    display:flex;
    justify-content: flex-end;
    padding: 14px;
}
.navbar img{
    width: 40px;
    height: 40px;
    position: absolute;
    left: calc(8%);
}
.navbar ul{
    display: flex;
}

.navbar ul .items{
    padding: 10px;
    text-decoration: none;
    list-style-type: none;
    text-transform: capitalize;
    font-size:16px;
    font-weight: 600;
    letter-spacing:2px;
}

.content{
    width:100%;
    height:41vh;
    background-color: #1a1c20;
    padding-top: 16px;
    position: relative;
}

.content h1{
    color:white;
    text-transform: uppercase;
    letter-spacing:2px;
    width: 66vw;
}
.content h2{
    color:#f29555;
    text-transform: uppercase;
    font-size:14px;
    width: 85vw;
    padding-top: 24px;
}

.content .title{
    display: flex;
    flex-direction: column;
    padding: 24px;
}

.cool{
    width: 100px;
    height: 100px;
    position: absolute;
    left: calc(50% - 50px);
    top:calc(50% - 50px);
    border: 2px solid #f29555;
    border-radius: 50%;
}

.segunda{
    width: 100%;
    padding: 21px;
    height:50vh;
    background-color:#E5E5E5;
}
.about{
    margin-top:36px;
}

.title-head{
    text-align: center;
    text-transform: capitalize;
    padding-bottom: 15px;
    font-size:24px;
    font-weight: 600;
}
.about .parrafo{
    font-size:16px;
    color: #757575;
}

.diseño{
    width: 100%;
    position: relative;
}



.diseño .content-diseño img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.diseño .content-diseño h1{
    position: absolute;
    left: calc(50% - 68px);
    color: #fff;
    top: calc(50% - 75px);
    letter-spacing: 8px;
    font-size: 28px;
    font-weight: 600;
    text-shadow: 0px 3px 15px #000000, 15px -6px 18px rgb(0 0 0 / 47%);
}

.experiencia{
    width: 100%;
    height: 100%;
    background-color: #201E1C;
    margin-top:-4px;
}



.experiencia h1{
    text-align: center;
    color: white;
    padding: 34px;
}



.experiencia h3{
    text-align: center;
    color: #808080;
    font-size: 15px;
}
.cards{
    display:flex;
    justify-content: center;
}

.item{
    background-color: #282623;
    width: 252px;
    border-radius: 18px;
    padding: 28px;
    margin-top: 36px;
    scroll-snap-align: center;
    
}
.item img{
    width:50px;
    height:50px;
}
.item #h1-titulo{
    color: white;
    text-align: left;
    padding: 0px;
    margin-top: 16px;
    margin-bottom: 16px;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: 600;
}



.item p{
    color:#808080;
    font-weight: 400;
}




.frameworks{
    padding-bottom: 36px;
    background-color: #E5E5E5;
    width: 100%;
}
.frameworks h1{
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 34px;
}



.targeta-frameworks img{
    width:50px;
    height:50px;
}

.targeta-frameworks h1{
    color: dark;
    text-align: left;
    padding: 0px;
    margin-top: 16px;
    margin-bottom: 16px;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: 600;
}



.sliders{
    display:flex;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    gap: 12px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 36px;
}

.section-cards-frameworks{
    display:flex;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    gap: 12px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 36px;

}

.item-dos{
    height: 100%;
    background-color: #ffffff;
    width: 252px;
    border-radius: 18px;
    padding: 28px;
    margin-top: 36px;
    scroll-snap-align: center;
}


.item-dos .title-frameworks{
    text-align: left;
    padding: 0px;
    margin-top: 16px;
    margin-bottom: 16px;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: 600;
}
  
.frameworks .frameworks-title{
    text-align: left;
    color: #757575;
    width: 100%;
    padding-left: calc(4%);
}


.importancia{
    width: 100%;
    background-color: #201E1C;
}
.importancia #titulo-importancia{
    text-align: center;
    color:white;
    padding: 34px;
}

.importancia .titulo-importancia{ 
    text-align: left;
    color: #808080;
    width: 100%;
    padding-left: calc(4%);
    padding-bottom: 36px;
}

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
    display: flex;
    justify-content:center;

    }
  .iframe-container iframe{
    position: absolute;
    top:0;
    width: 90%;
    height: 100%;
    border-radius: 10px;
  }
  .container-importancia{
    margin-top: 36px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
  
  .importancia .target-importancia{
    height: 100%;
    width: 90%;
    background-color: #282623;
    border-radius: 10px;
    margin-bottom:36px;
}

.target-importancia img{
    width: 50px;
    height: 50px;
    margin:16px;
}

.target-importancia h1{
    text-align: left;
    color: white;
    padding: 16px;
    text-transform: capitalize;
}

.target-importancia p{
    color: #808080;
    padding:16px;
}
  